/FitnessMaster - Common/build/
/FitnessMaster - Common/dist/
/FitnessMaster - Server/build/
/FitnessMaster - Server/dist/
/FitnessMaster - Server/config/console.txt
/FitnessMaster - Client/build/
/FitnessMaster - Client/dist/
